body{
    font-family: Arial, sans-serif;
    background-color: #f9f9f9
    margin: 0;
    padding: 20px;
    color: #333;
    line-height: 1.6;
    }
    h1{
        color: #2c3e50;
        margin-bottom: 10px;

    }
h2{
    text-align: center;
    padding: 20px;
    background-color: #ecf0f1;
    margin-bottom: 20px;
    font-size: 2rem;

}
    img{
        max-width: 400px;
        border-radius: 50%;
        margin-top: 20px;
        
    }
link a{
    text-decoration: none;
    color: #2980b9;
    margin: 0 10px;
    font-weight: bold;

}

ul{
    margin: 0;
    padding: 0 20px;
    }
li{
    margin-bottom: 5px;
}    
table{
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1));
    
}
table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
th{
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #3498db;
    color: white;
}
td{ width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: #f4f4f4;

}
form{
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)

} 

input, textarea, select{
    width: 90%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;

}
input[type="submit"]:hover{
background-color: #45a049;
}